.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.main-header .container {
  display: flex;
  flex-wrap: wrap;
}

@each $name, $size in $container-max-widths {
  @media (min-width: #{$size}) {
    .container {
      max-width: #{$size};
    }
  }
}
.main-container{
  
}