@import 'variables';
@import 'normalize';
@import 'layout';
@import 'background';

body{
  font-family: 'Muli', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}



/**
Header
*/
.main-header{
  justify-content: space-between;
  z-index: 999;
  background-color: rgba(#000, .7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  .container{
    display: flex;
    justify-content: space-between;
    
  }
  
  &__nav{
    ul{
      display: flex;
      list-style: none;
    }
    a{
      color: $nav-link-secondary;
      font-weight: bold;
      padding: 1em;
    }
    a:hover{
      color: $nav-link-active;
    }
    &__collapse-button{
      text-transform: uppercase;
      text-align: right;
      justify-content: flex-end;
    }
    
    &__collapse-button:focus + ul {
      display: block;
      flex-basis: 100%;
      flex-grow: 1;
    }
    &__collapse-button:focus + ul >li {
      display: list-item;
    }
    &__collapse-button:focus + ul >li>a {
      display: block;
    }

    @media (min-width:$breakpoint-xs) {
      ul {
        display: none;
      }
      &__collapse-button{
        display: flex;
      }
    }
    @media (min-width:$breakpoint-lg) {
      &__collapse-button{
        display: none;
      }
      ul {
        display: flex;
      }
    }
  }

  &__logo{
    display: inline-block;
    white-space: nowrap;
    padding: 1em;
    color: #FFF;
    font-weight: bold;
  }
}
/**
  Header Section
*/
.header-section{
  @include header-background();
  display: flex;
  color:white;
  &__container {
    z-index: ($background-z-index+2); 
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    text-align: center;
    h1{
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 4rem;
    }
    h2{
      margin-top: 0px;
      font-size: 2rem;
    }
    @media (min-width:$breakpoint-lg) {
      h1 {
        font-size: 6rem;
      }
      h2{
        font-size: 4rem;
      }
    }
    a{
      margin-top: 3rem;
      border-radius: 999px;
      background-color: $some-pink;
      padding: 24px 48px;
      text-transform: uppercase;
      transition: .3s;
    }
    a:hover{
      background-color: $some-pink-darker;
    }
  }
}

/**
Articles
*/
.main-articles{
  .article{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    &__details{
      flex: 0 0 100%;
      $margin: 8px;
      h1{
        font-size: 3rem;
        font-weight: 800;
        margin: 0px 0px $margin;
      }
      p {
        margin: 0px 0px ($margin*2);
      }
      @media (min-width:$breakpoint-lg) {
        flex: 0 0 50%;
      }
    }
    justify-content: center;
    figure{
      max-width: 50%;
      overflow: hidden; 
      border-radius: 100%;
      max-height: 50%;
      margin: 0px;
      & > img{
        max-height: 400px;
        transition: .2s;
      }
      & > img:hover{
        transform: scale(1.05);
      }
      @media (max-width:$breakpoint-lg) {
        order: -1;
        & > img {
          max-width: 100%;
        }
      }
    }

    &:nth-child(even){
      flex-direction: row-reverse;
    }
    @media (max-width:$breakpoint-lg) {
      flex-direction: column;
    }
  }
}
/** Footer
*/
footer{
  bottom: 0px;
  padding: 50px;
  background-color: $footer-background-color;
  color: $footer-color;
  .container {
    text-align: center;
    font-size: 12.8px;
  }
}