@import 'variables';
@import 'normalize';
@import 'layout';

body{
  font-family: 'Muli', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}



@mixin gradient($fromColor,$toColor) {
  background: -webkit-gradient(linear,left bottom,left top,from($fromColor),to($toColor));
  background: linear-gradient(0deg,$fromColor 0,$toColor 100%);
}

/**
Header
*/
.main-header{
  z-index: 999;
  background-color: rgba(#000, .7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav{
    ul{
      display: flex;
      list-style: none;
    }
    a{
      color: #FFF;
      font-weight: bold;
      padding: 1em;
    }
  }

  &__logo{
    color: #FFF;
    font-weight: bold;
  }
}
/**
  Header Section
*/
.header-section{
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + #{$header-nav-height});
  padding-bottom: 7rem;
  @include gradient($some-orange, $some-pink);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  display: flex;
  color:white;
  &__container {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    text-align: center;
    h1{
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 96px;
    }
    h2{
      margin-top: 0px;
      font-size: 64px;
    }
    a{
      border-radius: 999px;
      background-color: $some-pink;
      padding: 24px 48px;
      text-transform: uppercase;
    }
  }
}

/**
Articles
*/
.main-articles{
  article{
    display: flex;
    align-items: center;

    h1{
      font-size: 3rem;
    }

    figure{
      max-width: 50%;
      & > img{
        border-radius: 100%;
        max-height: 400px;
      }
    }

    &:nth-child(even){
      flex-direction: row-reverse;
    }
  }
}