@import 'variables';
@import 'normalize';
@import 'layout';
@import 'background';

body{
  font-family: 'Muli', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}



/**
Header
*/
.main-header{
  z-index: 999;
  background-color: rgba(#000, .7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__nav{
    ul{
      display: flex;
      list-style: none;
    }
    a{
      color: $nav-link-secondary;
      font-weight: bold;
      padding: 1em;
      transition: .2s;
    }
    a:hover{
      color: $nav-link-active;
    }
  }

  &__logo{
    color: #FFF;
    font-weight: bold;
  }
}
/**
  Header Section
*/
.header-section{
  @include header-background();
  display: flex;
  color:white;
  &__container {
    z-index: ($background-z-index+2); 
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    text-align: center;
    h1{
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 96px;
    }
    h2{
      margin-top: 0px;
      font-size: 64px;
    }
    a{
      border-radius: 999px;
      background-color: $some-pink;
      padding: 24px 48px;
      text-transform: uppercase;
      transition: .3s;
    }
    a:hover{
      background-color: $some-pink-darker;
    }
  }
}

/**
Articles
*/
.main-articles{
  .article{
    display: flex;
    align-items: center;
    &__details{
      $margin: 8px;
      h1{
        font-size: 3rem;
        font-weight: 800;
        margin: 0px 0px $margin;
      }
      p {
        margin: 0px 0px ($margin*2);
      }
    }
    figure{
      max-width: 50%;
      & > img{
        border-radius: 100%;
        max-height: 400px;
      }
    }

    &:nth-child(even){
      flex-direction: row-reverse;
    }
  }
}
/** Footer
*/
footer{
  bottom: 0px;
  padding: 50px;
  background-color: $footer-background-color;
  color: $footer-color;
  .container {
    text-align: center;
    font-size: 12.8px;
  }
}